@media only screen and (max-width: 988px){
    html {
        font-size: 75%;
    }

    nav#miniNav{
        padding: 2% 0% !important;
    }

    .profileActive{
      top:0 !important;
    }

    
}

.spaceRetainer{
    white-space: pre-wrap;
}

.links{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 