#left{
    order: 1;
}
#sectionContainer{
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
    justify-content: center;

}

#sectionContainer #left .container img{
    width: 15rem;
    height: 15rem;
    
    border: 4px solid black;
    border-radius: 5px;
    outline: 2px solid black;
    outline-offset: 2px;
}

#sectionContainer #left .container div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#right{
    padding: 0rem 2rem;
    width: 50%;
    order: 2;
}

.rightContainer{
    display: flex;
    gap: 1.25rem;
}

.alignCenter{
    align-items: center;
}

.breakWord{
    word-break: break-all;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;

}

#editContainer button{
    width: 8rem;

}

/* ======================= */

#modalOut{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 45vw;
    /* height: 50vh; */
    border: 4px solid black;
    border-radius: 1.2rem;
    background-color: rgba(137, 43, 226, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: var(--modalOutDisplay,none);
}
html::before{
    content: '';
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    display: var(--modalbackDisplay,none);

}
#modal{
    width: 50vw;
}


#askPrivate{
    margin: 2rem 0;

}

.empty{
    margin: 8rem 0;
}

@media only screen and (max-width: 600px) {
    #modal{
        width: 90vw;
    }

    #modalOut{
        width: 90vw;
    }
    .empty{
        margin: 2rem 0 !important;
    }
    
}

@media only screen and (max-width: 500px) {
    .rightContainer{
        flex-direction: column;
        gap: 0;
        margin-bottom: 2rem !important;
    } 

}

@media only screen and (max-width: 988px) {
    #left{
        order: 2;
    }
    #right{
        width: 100%;
        order: 1;
        margin-top: .25rem;
    }
    #sectionContainer{
        flex-wrap: wrap;
        margin-top: 1rem !important;
    }

    #picContainer{
        /* margin: 0 0 2rem 0; */

    }
    .empty{
        margin: 7rem 0;
    }

    

    


}

@media only screen and (max-height: 400px) {

    /* #modalOut{
        height: 90vh;
    } */
    
    
}




#uploadDp{
    display: none;
}